{
  "openapi": "3.1.0",
  "info": {
    "title": "openOM public API",
    "version": "0.1",
    "description": "Free, deterministic, no-key surfaces for reading openOM data: the public MCP grounding endpoint (om_read + om_validate) and the read-only standard artifacts. Verified means provenance, not truth - every payload is an identified party's opinion as of a date.",
    "license": {
      "name": "MIT",
      "url": "https://github.com/Vervelio-Labs/OpenOM"
    },
    "contact": {
      "url": "https://github.com/Vervelio-Labs/OpenOM/issues"
    }
  },
  "servers": [
    {
      "url": "https://openom.app"
    },
    {
      "url": "https://mcp.openom.app"
    }
  ],
  "paths": {
    "/mcp": {
      "post": {
        "operationId": "mcpJsonRpc",
        "summary": "openOM MCP grounding endpoint (JSON-RPC 2.0): tools/list, and tools/call for om_read (read the embedded payload + integrity) and om_validate. Send a base64 PDF or an https URL. Read-only, deterministic, no API key.",
        "servers": [
          {
            "url": "https://mcp.openom.app"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "const": "2.0"
                  },
                  "id": {
                    "type": [
                      "string",
                      "integer"
                    ]
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "tools/list",
                      "tools/call"
                    ]
                  },
                  "params": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC result, or a JSON-RPC error object on failure.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ns/0.1": {
      "get": {
        "operationId": "getContext",
        "summary": "The openOM 0.1 JSON-LD @context (vocabulary).",
        "responses": {
          "200": {
            "description": "JSON-LD context",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/spec/om-0.1.schema.json": {
      "get": {
        "operationId": "getSchema",
        "summary": "The openOM 0.1 payload JSON Schema.",
        "responses": {
          "200": {
            "description": "JSON Schema",
            "content": {
              "application/schema+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}